.main-products__list {
  list-style: none;
}

.main-products__show-else {
  text-align: center;
}

.main-products__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-color-4;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.main-products__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
