// Colors
$white: #ffffff;

$theme-color: #68b738;
$theme-color-opacity: rgba(104, 183, 56, 0.3);
$darker-theme-color: #5eaa2f;

$extra-color-1: #f2f2f2;
$darker-extra-color-1: #ebebeb;
$extra-color-2: #eaeaea;

$error-color: #ff8282;

$border-color-1: #e7e7e7;
$border-color-2: #cdcdcd;
$border-color-3: #bababa;
$border-color-3-opacity: rgba(186, 186, 186, 0.3);
$border-color-4: #d9d9d9;
$border-color-5: #e6e6e6;

$dark-color-1: #666666;
$dark-color-2: #444444;
$dark-color-3: #222222;
$dark-color-3-opacity: rgba(34, 34, 34, 0.3);
$dark-color-4: #111111;
$black: #000000;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Fonts

$main-font: "Oswald", "Arial", sans-serif;
$extra-font: "Arial", sans-serif;
